.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  width: 288px;
  height: 48px;
  font-weight: 600;
  font-size: 14px;
  line-height: 116%;
  color: var(--White-100);
  border-radius: 8px;
  background-color: var(--Orange-100);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--Orange-80);
}

.btn-primary:active {
  background-color: var(--Orange-120);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  stroke: var(--Orange-100);
}

@media (min-width: 1440px) {
  .btn-primary {
    width: 296px;
    height: 64px;
    font-size: 20px;
    border-radius: 12px;
  }
}
