.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    transparent 50%,
    var(--Orange-5) 50%
  );
}

.picture {
  margin-bottom: 50.54px;
  width: 196.86px;
  height: 155.46px;
}

.total {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  opacity: 0.5;
}

.score {
  margin-bottom: 102px;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

@media (min-width: 1440px) {
  .container {
    flex-direction: row;
  }

  .picture {
    margin-bottom: 0;
    margin-right: 118.59px;
    width: 451.61px;
    height: 356.59px;
  }

  .total {
    font-size: 32px;
    text-align: left;
  }

  .score {
    margin-bottom: 85px;
    font-size: 56px;
    text-align: left;
  }
}
